{% extends "layout.html" %}
{% block title %}Citations{% endblock %}
{% block content %}
<br>
<h2> Current citation amount: {{ count }}</h2>
<br>
{% for citation in citations %}
<div class="card shadow mb-4">
    <div class="card-body p-5">
        <h5 class="mb-4">Citation: <a href="/citations/{{citation.id}}">{{citation.citation_name}}</a></h5>
        <form action="/citations" method="POST">
        <button name="remove" type="sumbit" value="{{citation.id}}"> Remove {{citation.citation_name}} citation </button>
            </form>
        <ul class="list-bullets">
            <li class="mb-3"> Title: {{citation.title}}</li>
            <li class="mb-3"> Year: {{citation.year}}</li>
            <li class="mb-3"> Author: {{citation.author}}</li>
        </ul>
    </div>
</div>
<br>
{% endfor %}
<div class="input-group">
    <a href="/citations" class="btn btn-warning" role="button">Top</a>
    <div class="input-group-append">
    </div>
    <div class="input-group-append">
        <a href="/" class="btn btn-warning" role="button">Return</a>
    </div>
</div>

{% endblock %}