{% extends "layout.html" %}
{% block title %} {{citation.citation_name}} {% endblock %}
{% block content %}

<title> {{citation.citation_name}} </title>
<h3>Latex-form:</h3>
<p>
    [{{citation.id}}] {{citation.author}}, <i> {{citation.title}} </i>, {{citation.year}}
<p>
    <h3>Bibtex-form:</h3>
  @book{ {{citation.citation_name}},
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; author = "{{citation.author}}",
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; title = "{{citation.title}}",
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; year = "{{citation.year}}",
<br>
    }
<br>
<br>
<a href="/citations">Return</a>


{% endblock %}