{% extends "layout.html" %}
{% block title %}Citations{% endblock %}
{% block content %}
<br href="#top">
<div class="d-flex aligns-items-center justify-content-center">
    <h2> Current citation amount: {{ count }}</h2>
</div>
<br>

        <div class="mx-auto w-25 p-3 d-none d-lg-block">
            {% for citation in citations %}
                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <h5 class="mb-4">Citation: <a href="/citations/{{citation.id}}">{{citation.citation_name}}</a></h5>
                            <ul class="list-bullets">
                                {% for key in citation.keys() %}
                                    {% if citation[key] and key != "id" and key != "citation_name" %}
                                        <li class="mb-3"> <span style="text-transform:capitalize">{{key}}</span>: {{citation[key]}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        <br>

                        <div class="container d-flex aligns-items-center justify-content-center">
                            <div class="row">

                                <div class="col-4">
                                    <form action="/citations" method="POST">
                                        <button class="btn btn-warning col-15 mx-2" name="remove" type="sumbit" value="{{citation.id}}"> Remove </button>
                                    </form>
                                </div>

                                <div class="col-4"></div>

                                <div class="col-4">
                                    <form action="/citations" method="POST">
                                        <button class="btn btn-warning col-15 mx-2" name="edit" type="sumbit" value="{{citation.id}}"> Edit </button>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            <br>
            {% endfor %}

            <div class="d-flex aligns-items-center justify-content-center">

                            <a href="#top" class="btn btn-warning col-md-4 mx-xl-5" role="button">Top</a>

                            <a href="/" class="btn btn-warning col-md-4 mx-xl-5" role="button">Return</a>

            </div>
        </div>


{% endblock %}