{% extends "layout.html" %}

{% block title %}BibteX Generator{% endblock %}

{% block content %}
<div class="d-flex aligns-items-center justify-content-center">
    <h1>Welcome</h1>
</div>
<br>
<div class="mx-auto w-75" >
    <p>The BibTeX Generator is a tool that allows
        you to input references in a simple form and automatically converts
        them into the BibTeX format. BibTeX is a popular bibliography management system
        used in the LaTeX typesetting system, which is often used in the field of academic writing.
        The BibTeX reference converter makes it easy to generate BibTeX citations for your references,
        saving you time and effort.</p>

    <p>Simply input the relevant information for each reference,
        such as the author's name, title of the work, and publication date,
        and the converter will generate the corresponding BibTeX citation.
        This can then be easily downloaded and put into your LaTeX document,
        allowing you to easily manage and organize your references.</p>
</div>

{% endblock %}