{% extends "layout.html" %}
{% block title %}New citation{% endblock %}
{% block content %}
<br>
<h2>New Book</h2>
{% if error_message %}
    <p class=error><strong>Error:</strong> {{ error_message }}
{% endif %}
<br>
<form action="/new_book" method="POST">
    <div class="form-group">
        Citation name: <br><input type="text" name="citation_name" value = {{request.form.citation_name}}>
        <p>
    </div>
    <div class="form-group">
        Author: <br><input type="text" name="author" value = {{request.form.author}}>
        <p>
    </div>
    <div class="form-group">
        Title: <br><input type="text" name="title" value = {{request.form.title}}>
        <p>
    </div>
    <div class="form-group">
        Publisher: <br><input type="text" name="publisher" value = {{request.form.publisher}}>
        <p>
    </div>
    <div class="form-group">
        Address: <br><input type="text" name="address" value = {{request.form.address}}>
        <p>
    </div>
    <div class="form-group">
        Year: <br><input type="text" name="year" value = {{request.form.year}}>
        <p>
    </div>
    <button type="submit" class="btn btn-warning">Create New</button>
</form>
<br>
<a href="/" class="btn btn-warning" role="button">Return</a>

{% endblock %}